<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764216325882-qkh5lq3okojd6u2ndtqk8n2f4pcqllsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764216325882-qkh5lq3okojd6u2ndtqk8n2f4pcqllsm</string>
	<key>API_KEY</key>
	<string>AIzaSyDr8YbDe9b4PqbGMmc2auvAqjJeeWn-qJM</string>
	<key>GCM_SENDER_ID</key>
	<string>764216325882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexey-sorochan.UserFirebase</string>
	<key>PROJECT_ID</key>
	<string>userfirebase-3f732</string>
	<key>STORAGE_BUCKET</key>
	<string>userfirebase-3f732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764216325882:ios:bb68690d0ca7f92e18bb43</string>
	<key>DATABASE_URL</key>
	<string>https://userfirebase-3f732.firebaseio.com</string>
</dict>
</plist>